body {
  margin: 0;
  padding: 0;
  width: var(-css-width-full);
  height: var(--css-height-full);
  position: relative;
  background: var(--main-background-color);
}

.header {
  width: var(-css-width-full);
  height: var(--css-height-full);
  display: var(--css-display-flex);
  align-items: center;
  background: var(--main-background-color);
  color: var(--nav-text-color);
  box-shadow: 0 2px 4px var(--navigation-bar-shadow);
}

.logo {
  display: var(--css-display-flex);
  align-items: center;
  margin-right: 83px;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 1300px;
  border: 1px var(--main-text-color) solid;
  margin-left: 4rem;
}

.logo-text {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-family: "Taviraj", serif;
  font-weight: 500;
  letter-spacing: 1.4px;
  word-wrap: break-word;
  margin-left: 10px;
}

.contact-info {
  display: var(--css-display-flex);
  margin-left: 83px;
  align-items: center;
  gap: 70px;
  margin-top: 21px;
  margin-bottom: 19px;
}

.contact-item {
  display: var(--css-display-flex);
  align-items: center;
  margin-left: 8rem;
  gap: 5px;
}

.contact-phone-text,
.contact-email-text,
.contact-hour-text,
.language-text {
  color: var(--secondary-text-color);
  font-size: 13px;
  font-weight: 500;
  line-height: 16.57px;
  word-wrap: break-word;
}

.contact-phone-number,
.contact-item-email,
.contact-item-clock {
  color: var(--main-text-color);
  font-size: 14px;
  font-family: "Taviraj", serif;
  font-weight: 500;
  text-decoration: underline;
  line-height: 17.85px;
  word-wrap: break-word;
}

.contact-item-icon {
  width: 20px;
  height: 20px;
  color: var(--accent-color);
}

/* outline */
.contact-item--outline {
  width: 20px;
  height: 20px;
  padding: 10px;
  background: #efefef;
  border-radius: 29px;
  border: var(--contact-item-outline);
}

.language-icon {
  width: 40px;
  height: 40px;
  margin-left: 4rem;
  margin-top: 1rem;
  gap: 83px;
}
/*
.language {
  display: flex;
  align-items: flex-start; 
  margin-left: 83px;
}

.language-text {
  color: #656464;
font-size: 14px;
font-family: "Taviraj", serif;
font-weight: 500;
line-height: 21px;
word-wrap: break-word
} */

.language-symbol {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-top: 1.3rem;
}

.navigation-bar {
  display: var(--css-display-flex);
  align-items: center;
  width: var(-css-width-full);
  height: 80px;
  background: #2c2c2c;
  box-shadow: var(--nav-bar-shadow);
}
.location {
  width: 166px;
  height: 26px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 19.78px;
  padding-right: 13.78px;
  border-radius: 10px;
  border: var(--location-border);
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 41px;
}
.location-content {
  width: var(-css-width-full);
  height: var(--css-height-full);
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.location-marker {
  width: 26px;
  height: 26px;
  position: relative;
}

.location-text {
  width: 106.58px;
  height: 24px;
  text-align: center;
  color: var(--location-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.location-symbol {
  width: 18px;
  height: 22px;
  text-align: center;
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  line-height: 18px;
  word-wrap: break-word;
}
.navigation-item {
  margin-left: 18rem;
  list-style: none;
  display: var(--css-display-flex);
  align-items: center;
  gap: 16px;
}

.nav-item {
  text-align: center;
  font-size: 20px;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  word-wrap: break-word;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.nav-item p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-item--active {
  text-align: center;
  font-size: 20px;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  word-wrap: break-word;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 10px;
  color: var(--nav-item--active-color);
}

.nav-item {
  position: relative;
  z-index: 1;
  color: var(--nav-item-color);
  margin-right: 16px;
  display: var(--css-display-flex);
  flex-direction: column;
  cursor: pointer;
}

.nav-item-separator--services {
  margin-top: 32px;
}
.nav-item-separator--about {
  margin-top: 28px;
}

.nav-item-separator {
  width: 22px;
  height: 1px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  background-color: var(--nav-item-seperator-bgcolor);
  position: absolute;
  top: 20%;
  left: -16px;
  transform: translateY(-50%) rotate(-90deg);
}

.toggle-checkbox {
  display: none;
}

.nav-item-content {
  display: var(--css-display-flex);
  align-items: center;
}
.nav-item-img {
  width: 10px;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.toggle-checkbox:checked + .nav-item-content .nav-item-img {
  transform: rotate(180deg);
}

.nav-item:last-child::after {
  display: none;
}
/* .nav-item-content.active img {
  transform: rotate(180deg);
} */
.user-actions-container {
  width: var(-css-width-full);
  height: var(--css-height-full);
  justify-content: flex-start;
  align-items: center;
  gap: 29px;
  display: inline-flex;
  margin-left: 16rem;
}
.notification-container {
  width: 24px;
  height: 24px;
  position: relative;
}
.notification-icon {
  width: 24px;
  height: 24px;
  left: 3px;
  top: 2px;
  position: absolute;
}
.basket-container {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 30px;
}
.basket-icon {
  width: 24px;
  height: 24px;
  left: 2px;
  top: 2.5px;
  position: absolute;
}
.registration-container {
  width: 166px;
  height: 26px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 19.78px;
  padding-right: 13.78px;
  border-radius: 10px;
  border: var(--registration-border-color);
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 180px;
}
.registration-content {
  width: var(-css-width-full);
  height: var(--css-height-full);
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.registration-marker {
  width: 26px;
  height: 26px;
  position: relative;
}
.registration-text {
  width: 106.58px;
  height: 24px;
  text-align: center;
  color: var(--registration-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  margin-right: 30px;
}
.home {
  width: var(-css-width-full);
  height: 572px;
  position: relative;
  background: var(--home-color);
}
.home-page {
  position: relative;
  display: var(--css-display-flex);
  flex-direction: column;
  align-items: center;
}

.home-page-background {
  width: 100%;
  height: var(--css-height-full);
  background: var(--home-page-bg);
}

.home-page-img {
  position: absolute;
  right: 0;
  top: -7rem;
  z-index: 0;
  width: 44%;
  height: auto;
  max-width: 100%;
}

.home-text {
  position: absolute;
  top: 30.33%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--home-text-color);
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  word-wrap: break-word;
}

.home-text-main {
  text-align: center;
  color: var(--home-text1-color);
  font-size: 30px;
  font-family: "Taviraj", serif;
  font-weight: 800;
  line-height: 40.4px;
  letter-spacing: 4.8px;
  word-wrap: break-word;
}

.home-text-secondary {
  text-align: center;
  color: var(--home-text2-color);
  font-size: 16px;
  font-family: "Taviraj", serif;
  font-weight: 400;
  line-height: 15.2px;
  letter-spacing: 1.92px;
  word-wrap: break-word;
}

.menu-buttons {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: var(--css-display-flex);
  justify-content: space-between; /* Use space-between to create a gap between buttons */
  align-items: center;
  width: calc(
    100% - 82px
  ); /* Adjusted width to accommodate the gap on both sides */
}

.menu-button-left,
.menu-button-right {
  display: var(--css-display-flex);
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--home-buttons-color);
  border: none;
  color: white;
  padding: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  display: var(--css-display-flex);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.menu-button-left {
  margin-right: 41px; /* Add margin to the right to create a gap */
}

.menu-button-right {
  margin-left: 41px; /*Add margin to the left to create a gap */
}

.circles-container {
  display: var(--css-display-flex);
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 9px;
  height: 9px;
  background-color: var(--home-buttons-color);
  border-radius: 50%;
  margin: 0 10px; /* Adjust the margin based on your preference */
}

.active {
  width: 12px;
  height: 12px;
}
.searchfield-container {
  position: relative; /* Add position relative to establish a positioning context */
  bottom: 14rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 690px;
  height: 136px;
  text-align: center;
  gap: 17px;
  padding: 20px;
  border-top: var(--searchfield-container-bordertop-color);
  box-shadow: var(--searchfield-container-shadow);
  display: var(--css-display-flex);
  align-items: center;
  justify-content: center;
}

.searchfield-input {
  box-sizing: border-box;
  width: 589px;
  height: 42px;
  border: var(--searchfield-input-bordercolor);
  border-radius: 10px;
  flex: none;
  order: 1; /* Change order to 1 */
  flex-grow: 0;
  z-index: 1;
  color: var(--searchfield-input-color);
  border-top: var(--searchfield-input-bordertop-color);
  margin-bottom: 6%;
  margin-right: 5%; /* Adjust this margin as needed */
  display: var(--css-display-flex);
  align-items: center;
}

.searchfield-text {
  text-align: center;
  margin: 0;
  width: 112px;
  height: 17px;
  color: var(--searchfield-text-color);
  margin-bottom: 1%;
  margin-left: 3%; /* Adjust this margin as needed */
  font-weight: 500;
}

.searchfield-icon {
  width: 45px;
  height: 42px;
  border-radius: 10px;
  gap: 16px;
  background: var(--searchfield-icon-color);
  display: var(--css-display-flex);
  align-items: center;
  justify-content: center;
  order: 2; /* Change order to 2 */
  margin-bottom: 6%;
}
.searchbutton-container {
  display: var(--css-display-flex);
  width: 619px;
  height: 37px;
  gap: 16px;
  margin-top: 10%;
  margin-right: -90%;
  align-items: center;
}

.searchbutton {
  flex: 1; /* This will make each button take equal space */
  height: 37px;
  border: 1px solid #000; /* Add border color */
  border-radius: 10px;
  background: var(--searchbutton-background-color);
  border: var(--searchbutton-border-color);
  box-shadow: var(--searchbutton-box-shadow);
  display: var(--css-display-flex);
  align-items: center;
  justify-content: center;
}
.searchbutton-text {
  color: var(--searchbutton-text-color);
}
.searchbutton-viewmore {
  width: 66px;
  height: 34px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: var(--searchbutton-viewmore-color);
  display: inline; /* or inline-block */
  white-space: nowrap;
  margin-top: 5%;
  cursor: pointer;
}
.service {
  width: var(--css-width-full);
  top: 570px;
}

.services-container {
  width: var(--css-width-full);
  height: auto;
  top: 630px;
  gap: 61px;
  display: var(--css-display-flex);
  justify-content: center; /* Center the content horizontally */
}

.service-box {
  display: var(--css-display-flex);
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start (left) */
  margin-top: 80px;
  margin-left: 10%;
  gap: 20px; /* Adjust the gap between the title and items */
}

.service-title {
  display: var(--css-display-flex);
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start (left) */
  margin-right: 70%;
}

.service-text {
  width: 289px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: var(--service-text-color);
}

.sub-text {
  display: var(--css-display-flex);
  align-items: center;
  gap: 10px;
}

.service-subtext {
  display: var(--css-display-flex);
  align-items: center;
  width: 98px;
  height: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--service-subtext-color);
}

.service-subtext-img {
  margin-right: 10px;
}

.service-subtext img {
  display: block;
}
.service-row {
  display: var(--css-display-flex);
}
.service-item {
  width: 371px;
  height: 261px;
  padding: 40px;
  border: 1px;
  gap: 21px;
  background: var(--service-item-background-color);
  border: var(--service-item-border-color);
  box-shadow: var(--service-item-boxshadow);
  overflow: hidden; /* Hide overflowing content */
}
.service-item--active {
  background: var(--service-item--active);
}
.service-item-text-main-active {
  color: var(--service-item-text-main-active);
  width: 290.99px;
  height: 22px;
  font-family: TBC Contractica;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.service-item-text-secondary-active {
  color: var(--service-item-text-secondary-active);
  width: 290.33px;
  height: 93.94px;
  font-family: TBC Contractica;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.service-item-image {
  width: 50px;
  height: 50px;
}
.service-item-text-main {
  width: 290.99px;
  height: 22px;
  font-family: TBC Contractica;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--service-item-text-main-color);
}
.service-item-text-secondary {
  width: 290.33px;
  height: 93.94px;
  font-family: TBC Contractica;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--service-item-text-secondary);
}
.service-button {
  width: 160px;
  height: 48px;
  border: var(--service-button-border-color); /* Add border color */
  border-radius: 10px;
  background-color: var(--service-button-background);
  box-sizing: border-box;
  top: 704px;
  left: 954px;
  margin-left: auto;
  margin-top: 30px;
}
.service-button-text {
  width: 111.95px;
  height: 22.99px;
  top: 716.5px;
  left: 978.03px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 10%;
  color: var(--service-button-text-color);
}
.whyus {
  width: 1325px;
  height: 437px;
  top: 1502px;
  gap: 75px;
}
.whyus-slider {
  position: relative;
  display: var(--css-display-flex);
  align-items: flex-start; /* Align items to the top */
  gap: 20px;
  width: 100%;
  margin-top: 10%;
}

.whyus-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: var(--css-display-flex);
  align-items: center;
  width: 100%;
  justify-content: flex-end; /* Align to the right edge */
  padding: 0 20px; /* Add padding to both sides to prevent the arrow from going outside */
  box-sizing: border-box; /* Include padding in the total width */
}

.whyus-button {
  background-color: transparent;
  background: var(--whyus-button-background);
  border: none;
  color: var(--whyus-button-color);
  padding: 20px;
  height: 48px;
  width: 48px;
  text-align: center;
  text-decoration: none;
  display: var(--css-display-flex);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.arrow-container {
  width: 20px;
  height: 20px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 50%;
}

.whyus-button-left {
  margin-right: auto;
}

.whyus-button-right {
  margin-right: 50%;
}
.whyus-title {
  display: var(--css-display-flex);
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.whyus-subtext-container {
  display: var(--css-display-flex);
  align-items: center;
  gap: 10px;
}
.whyus-about {
  display: var(--css-display-flex);
  flex-direction: column;
}

.whyus-checkabout {
  display: var(--css-display-flex);
  align-items: center;
  gap: 10px; /* Adjust the gap between image and text */
}

.whyus-subtext {
  display: var(--css-display-flex);
  align-items: center;
  width: 98px;
  height: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--whyus-subtext-color);
  white-space: nowrap;
}

.whyus-subtext-img {
  margin-right: 10px;
}

.whyus-subtext img {
  display: block;
}
.whyus-text {
  width: 426.16px;
  height: 54px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
}
.whyus-text {
  display: var(--css-display-flex);
  flex-direction: column;
}
.whyus-text-container {
  width: 541px;
  height: 436.5px;
  gap: 38px;
  margin-left: 40px;
  margin-top: -5px;
}
.whyus-about-text {
  width: 392px;
  height: 24px;
  top: 1.5px;
  left: 35.01px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--whyus-about-text);
}
.whyus-badges-container {
  display: var(--css-display-flex);
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Center vertically */
  width: 541px;
  height: 149px;
  gap: 38px;
}

.whyus-badges {
  display: var(--css-display-flex);
  gap: 21px;
}

.badge {
  display: var(--css-display-flex);
  align-items: center;
  width: 200px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  border: var(--badge-border);
  background: var(--badge-background);
  margin-top: 50px;
}

.whyus-content {
  display: var(--css-display-flex);
  align-items: center;
  gap: 19px;
}

.whyus-badgeicon {
  width: 39.12px;
  height: 38.88px;
}

.whyus-badgetext {
  width: 173px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--whyus-badgetext-color);
}
.badge-secondary {
  display: var(--css-display-flex);
  align-items: center;
  width: 200px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  border: var(--badge-secondary-border);
  background: var(--badge-secondary-background);
  margin-top: 50px;
  margin-left: 3px;
}

.whyus-secondary {
  display: var(--css-display-flex);
  align-items: center;
  gap: 19px;
}

.whyus-secondary {
  width: 39.12px;
  height: 38.88px;
}

.whyus-secondary {
  width: 173px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--whyus-secondary-color);
}
